set_io clk B2      # 16 Mhz system clock

# Some diagnostic LEDs.
set_io led_red D8    # Pin 16
set_io led_green D9  # Pin 15
set_io led_blue H9   # Pin 14

# Spi interface
set_io spi_mosi C9     # Pin 17
set_io spi_miso A9     # Pin 18
set_io spi_sck B8      # Pin 19
set_io spi_cs A8       # Pin 20

set_io p1 A2
set_io p2 A1
set_io p3 B1
set_io p4 C2
set_io p5 C1
set_io p6 D2
set_io p7 D1
set_io p8 E2
