set_io clk B2      # 16 Mhz system clock
set_io out A2      # Pin 1

# Some diagnostic LEDs.
set_io led_red D8    # Pin 16
set_io led_green D9  # Pin 15
set_io led_blue H9   # Pin 14

# Spi interface.
set_io spi_mosi C9   # Pin 17
set_io spi_miso A9   # Pin 18
set_io spi_sck B8    # Pin 19
set_io spi_cs A8     # Pin 20
